header#main-header {
    width: 100%;
    height: 60px;
    background: #259042;
    font-size: 18px;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.navbar nav {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin: 0 8px;
    cursor: pointer;
}

.navbar nav ul li a{
    color: #fff;
    text-decoration: none;
}